.env
.env.sample

# Nos fichiers
#raw_data/
*.gz
*PKG-INFO
*.egg-info
*.zip
*Zone.Identifier
.DS_Store

.pytest_cache
__pycache__

# env python
#.python-version

# IDE #
*.vscode

#autre
.devcontainer
